body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: #283593;
    color: #FFFFFF;
    display: flex;
    justify-content:space-between;
    display: flex;
    align-items: center;
}
.navigation a {
color: #FFFFFF;
text-decoration: none;
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
  
.navigation {
    margin-left: 20px;
    
}

.navigation a:hover {
    color : #c5cae9
    transform; rotate :6deg;
    
}